@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');


.backgroundd{
    /* background-color: rgba(0, 0, 0, 0.932); */
    background-color: black;
    /* height: 2010px; */
}
.navv{
    height: 90px;
    background-color: rgb(18, 17, 17) !important;
}
.logo{
    height: 85px;
    width: 95px;  
    cursor: pointer;
    border-radius: 550px;
}

.nav-link{
    color: whitesmoke;
}

.headertitleGenre{
    text-decoration: none;
    color: whitesmoke !important;
    font-size: 18px ;
    margin-right: 60px;
    margin-left: 10px;
    margin-top: -7px;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.headertitle{
    text-decoration: none;
    color: whitesmoke;
    font-size: 18px;
    margin-right: 60px;
    margin-left: 10px;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
}


.bannerimg{
    width: 100%;
    height: 350px;
    padding: 30px;
    border-radius: 30px;
    opacity: 0.5;
}

.cardbodyy{
    background-color: black;
}

.cardbodyy #cardTitle{
    color: whitesmoke;
    position: absolute;
    font-weight: bold;
    margin-top: -22%;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.moviecard{
    margin-top: 30px;
    margin-left: 70px;
    height: 390px;
    border: none;
    display: flex;
}

.moviecard:hover{
    opacity: 0.6;
}
.cardalign{
    display: flex;
    flex-wrap: wrap;
}

.cardimg{
    height: 390px ;
}
.textcolourr{
    color: white;
}
.topbar{
    height: 60px;
    background-color: #9d9ea2
}
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.image{
    margin-top: 10px;
    width: 120px;
    position: absolute;
    z-index: 1;
}
.login{
    justify-content: right;
    display: flex;
    font-size: 22px;
    position: relative;
}
.btnstyle{
    border: none;
    background-color: rgba(255, 255, 255, 0);
    margin-left: 70vh;
    text-align: end;
    align-items: end;
    justify-content: end ;
    justify-items: end;
    display: flex;
}

@media only screen and (min-width: 1920px) {
    .btnstyle {
      margin-left: 60vh ;
    }
  }

  @media only screen and (min-width: 2120px) {
    .btnstyle {
      margin-left: 30vh ;
    }
  }


.headertitleGenre, .nav-link:hover{
    color: #09b0e7 !important;
}

.headertitle:hover, .btnstyle:hover{
    color: #09b0e7 !important;
}


/* .active{
    color: #09b0e7 !important;
} */

.loginoverlay{
    width: 50vw;
    height: 20vw;
    margin-top: -130px;
    border-radius: 10px;
    opacity: 0.97;
    color: whitesmoke;
    background-color: rgba(17, 17, 17, 0.877);
    /* background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%); */
}

.vline{
    border-left: 1px solid whitesmoke;
    height: 125px;
    margin-left: 10px;
}

.loginbutton{
    background-color: #06b6d4;
    border-radius: 6px;
    padding: 0.75rem 1.25rem;
    height: 35px;
    border: none;
    color: white;
}

.loginbutton:hover{
    background-color: #048aa1;
}

.logintitle{
    justify-content: center;
}

.signupbutton{
    background-color: #228948;
    border-radius: 6px;
    padding: 0.75rem 1.25rem;
    height: 35px;
    border: none;
    color: white;
}

.formatsignup{
    text-align: center;
    margin-top: 120px;
    background-image: url("../../../assets/images/user.png")
}

.signupbutton:hover{
    background-color: #045c24;
}

.signupimage{
    background-image: url("../images/one.gif");
    background-position: center;
    background-size: cover;
}

svg.p-icon{
    color: white;
    margin-right: 10px;
    margin-top: 10px;
}

.movielistcard{
    height: 390px;
    width: 290px;
    background-color: rgb(62, 59, 59);
}

.slick-slide{
    margin-right: 5px;
}
.slick-list, .bg-light{
    background-color: black;
}

.bg-light{
    background-color: black !important;
    margin-top: 0px !important;
}

.movieTextt{
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(185, 182, 182);
    font-weight: bold;
}
.categoryName{
    margin-Top: 10px;
    color: #09b0e7 !important;
    border: 2px solid #09b0e7 !important;
} 

.categoryName:hover{
    background-color: #096b8b !important;
    color: black !important;
}

.viewmore{
    color: #0788b3;
    margin-left: -10px;
}

.viewmore:hover{
    color: #096b8b;
    
}

.bg-light{
    /* background-color: rgb(238, 231, 231) !important; */
  }

  #layoutSidenav_content{
    background-color: rgb(228, 220, 204);
  }

  .adminDashboard{
    text-align: center;
    font-family: 'Luckiest Guy';
    color: rgb(122, 94, 43);
    margin-top: 15%;
  }