@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

body {
    background-color: black !important;
}

.movieCoverOverlap{
    margin-top: -450px !important;
    z-index: 1 !important;
    margin-bottom: 100px;
    position: absolute !important;
}

.bannerheight{
    height: 500px !important;
    opacity: 0.3 !important;
}

.moviecardd{
    height: 370px !important;
    box-shadow: 10px 10px 15px 7px;
    opacity: 0.75;
}

.moviecardd:hover{
    opacity: 0.85;
}

.cardimgg{
    height: 370px !important;
}

.moviedetail{
    margin-left: 400px;
    margin-top: -15px;
    opacity: 0.8;
}

.moviename{
    font-family: 'Luckiest Guy';
}

.first-word{
    color: whitesmoke;
}
.second-word{
    color: #09b0e7;
}

.reviewButton{
    margin-left: 70px;
    margin-top: 30px;
}

.reviewWritingArea{
    margin-left: 70px;
    margin-top: 5px;
}

.positive{
    color: rgb(68, 173, 68);
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.negative{
    color: rgb(177, 84, 84);
    font-family:Georgia, 'Times New Roman', Times, serif;
}